.area{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-area{
    width:700px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2C3D63;
    border-radius: 6%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

.timer{
    font-size: 93px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    letter-spacing: 4px;
    line-height: 32px;
    font-weight: bolder;
}